<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Value</th>
            </tr>
            {{#data}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{value}}</td>
                </tr>
            {{/data}}
        </table>
    </div>
</div>